#text{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 380px;
}

.images{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

#img1,#img2,#img3,#img4{
    padding: 4%;
    border-radius: 25%;

}
